:root {
    --bg-color-1: lightgrey;
    --bg-color-2: white;
}

body {
    background-color: var(--bg-color-1);
    font-family: Palatino, "URW Palladio L", serif;
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 2em 0em;
    background-color: var(--bg-color-2);
}

#scores {
    display: flex;
    justify-content: space-evenly;
}

#result-container {
    text-align: center;
    width: 40%;
}